@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
/* body{
    font-family: League Spartan, sans-serif;
    font-weight: 400;
} */

html{
    font-size: 100%;
}
.css-15k6ek6-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0rem !important;
}
.css-117jitv {
  padding: 0rem;
}
@media only screen and (width<= 880px) {
    html{
        font-size: 85%;
    }
}

@media only screen and (width<= 650px) {
    html{
        font-size: 80%;
    }
}
